* {
    box-sizing: border-box;
  }
  
// .textArea{
//         verticalAlign: 'middle', 

// }

.chatapp_familycontainer{
    position: relative; // Ensure it's a reference for absolute positioning
    display: flex;
    height: 100vh;

        .contactsandmessages{
            flex: 1;
            display: flex;
            align-items: center;

            .messagearea{
                position: relative; // Ensure it's a reference for absolute positioning
                height: 100%;
                width: 70%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

               
                .statusonof {
                    position: relative;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content:space-between;
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    color: #4a76a8;
                    border-bottom: solid 1.5px rgb(194, 192, 192);
                    background-color: #dff1fa;

                    .friendname{
                        margin-left: 20px;
                        cursor: pointer;
                    }

                    .onlineofline{
                        margin-right: 500px;
                    }
                }

                .chatarea {
                      // position: relative;
                    flex: 1;
                    overflow-y: auto;
                    width: 100%;
                    padding: 10px;
                }

                .chatarea::-webkit-scrollbar {
                    width: 6px;
                }

                .chatarea::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 5px;
                }

                .chatarea::-webkit-scrollbar-thumb {
                    background: rgb(186, 186, 186);
                    border-radius: 5px;
                }

                .chatarea::-webkit-scrollbar-thumb:hover {
                    background: gray;
                }


                .typemessage {
                    position: relative; // Ensure it's a reference for absolute positioning
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    width: 100%;
                    background: #fff;
                    padding: 7px;
                    border-top: 1.5px solid rgb(194, 192, 192);
                    background-color: #dff1fa;
            
                    textarea {
                        flex: 1;
                        padding: 3px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        // resize: none;
                    }
                    textarea:focus {
                        border: solid 1px rgb(54, 53, 53);
                        outline: none;
                    }

            
                    button {
                        padding: 10px 15px;
                        background: #4a76a8;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
            
                        &:hover {
                            background: #3a5f91;
                        }
                    }
                }

            }

        }
}






